<div class="container page-content-container">
    <h3>About me</h3>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-skillset" role="tab" aria-controls="pills-home" aria-selected="true">Skillset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-work-experience" role="tab" aria-controls="pills-profile" aria-selected="false">Work experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Hobbies</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-skillset" role="tabpanel" aria-labelledby="pills-home-tab">
            <ul>
                <li>.NET</li>
                <li>Java EE</li>
                <li>Spring boot</li>
                <li>Maven</li>
                <li>Hibernate ORM</li>
                <li>SQL</li>
                <li>T-SQL</li>
                <li>ReactJS</li>
                <li>Redux</li>
                <li>NodeJS</li>
                <li>KoaJS</li>
                <li>Express.js</li>
                <li>Koa.js</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="pills-work-experience" role="tabpanel" aria-labelledby="pills-profile-tab">
            <ul>
                <li>Compromis s.r.o</li>
                <li>Ness technologies s.r.o</li>
                <li>Programia s.r.o</li>
                <li>Netdirect s.r.o</li>
                <li>RemoteOrigin s.r.o</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <ul>
                <li>Football</li>
                <li>Hockey</li>
                <li>Basketball</li>
                <li>Reading</li>
                <li>Movies</li>
            </ul>
        </div>
      </div>
</div>