<div class="container page-content-container">
    <h3>Signup</h3>

    <form>
        <div class="form-group row">
          <label for="inputFirstName" class="col-sm-2 col-form-label">First name</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputFirstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputLastname" class="col-sm-2 col-form-label">Lastname</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputLastname">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUsername">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputConfirmPassword">
          </div>
        </div>


        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Membership</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Basic (Free)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Premium (25$)
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                <label class="form-check-label" for="gridRadios3">
                  Platinum (50$)
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-2">Newsletter subscription</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Yes, i want newsletter subscription
              </label>
            </div>
          </div>
        </div>
     
        <div class="form-group">
          <label for="exampleFormControlSelect2">Billing period</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Weekly</option>
            <option>Monthly</option>
            <option>Yearly</option>
          </select>
        </div>

        <div class="form-group">
          <label for="additionalInfoFormControlTextarea">Additional information</label>
          <textarea class="form-control" id="additionalInfoFormControlTextarea" rows="3"></textarea>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Form cancelation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure, that you want to close Sign-Up form ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel operation</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close form</button>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
             <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
              Cancel
            </button>
          </div>
        </div>        
      </form>
</div>



